<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

	<!-- 定义具体的任务类 -->
	<bean id="job"
		class="com.fourthbutton.telematics.pds.job.DeviceProfileFindSuidService"
		scope="singleton" init-method="init" />
	<!-- 定义jobDetail -->
	<bean id="jobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 目标类 -->
		<property name="targetObject">
			<ref bean="job" />
		</property>
		<!-- 目标类中要执行的方法 ,这个参数是必须的 -->
		<property name="targetMethod">
			<value>updateNewSuidQuartz</value>
		</property>
	</bean>

	<!-- 另一种触发器是CornTrigger -->
	<bean id="cornTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail" />
		<!-- 每天10秒种触发一次 -->
		<property name="cronExpression" value="0/10 * * * * ?" />
	</bean>

	<!-- 定义核心调度器 -->
	<bean id="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cornTrigger" />
			</list>
		</property>
	</bean>
</beans>