<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.fourthbutton.telematics.pds.mapper.BindingLogMapper">

  	<insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id"  parameterType="com.fourthbutton.telematics.pds.entity.BindingLog">
		insert into binding_log values(#{id},#{iccId},#{deviceSn},#{imei},#{vin},#{createTime},#{updateTime},#{recordStatus},#{updateUser},#{bingdingType})
	</insert>
</mapper>